{% extends "base.html" %}
{% block content %}
    {% if request.user.is_anonymous %}
        {% load static %}
        <div class="display-6 mt-3 mt-sm-1">
            <img src="{% static 'img/'|add:project_name|lower|add:'.png' %}"
                 alt="{{ project_name|capfirst }}"
                 width="34"
                 height="34">
            {{ project_name|capfirst }}
        </div>
    {% endif %}
    {% if password_reset_live %}
        <form action="{% url "gate:password_reset" user_pk_hash %}" method="post">
            {% csrf_token %}
            <div class="mt-3">
                <div class="mb-3">{{ form.password1.as_field_group }}</div>
                <div class="mb-3">{{ form.password2.as_field_group }}</div>
                <button type="submit"
                        class="btn btn-primary shadow form-control"
                        enterkeyhint="go">
                    <b>Reset! <i class="bi bi-arrow-repeat"></i></b>
                </button>
            </div>
        </form>
    {% elif password_reset_successful %}
        <div class="fs-5 mt-3">
            Password reset successful! Now you can <a href="{% url 'gate:signin' %}" class="text-decoration-none">Log In</a>.
        </div>
    {% elif password_reset_expired %}
        <div class="fs-5 mt-3">
            That password reset link has expired. <a href="{% url "gate:password_reset_request" %}">Try again</a>?.
        </div>
    {% endif %}
{% endblock content %}
